upstream time2_app {
    server localhost:4850;
}

server {
    listen 80;
    listen [::]:80;

    server_name time2.weihanliu.space;

    location / {
        proxy_pass http://time2_app;
    }

    location /socket {
        proxy_pass http://time2_app;
        proxy_http_version 1.1;
        proxy_set_header Upgrade $http_upgrade;
        proxy_set_header Connection "upgrade";
    }
}
